.fazer-pedido-page {
  background-image: url('/public/Assets/background.png'); /* Caminho da imagem de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  max-width: 90%;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.category-title:hover {
  color: #63b3ed;
}

.category-list {
  list-style-type: none;
  padding: 0;
  color: #ddd;
  margin-bottom: 20px;
}

.category-list li {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  color: #fff;
  border: none;
}

.btn-primary {
  background-color: #d32f2f !important; /* Vermelho mais escuro */
}

.btn-primary:hover {
  background-color: #b71c1c !important; /* Vermelho ainda mais escuro */
}

.btn-secondary {
  background-color: #28a745;
}

.btn-secondary:hover {
  background-color: #1e7e34;
}
